.services{
    margin-bottom: 4rem;
}

.innerServ{
    width: 90%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin: auto;
}

.headServ{
    display: flex;
    flex-direction: column;
}

.headServ h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #15271A;
    padding-bottom: 1rem;
}

.headServ h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #15271A;
}
.headServ p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #8D8A8A;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.cardServ{
    width: 95%;
    padding-top: 2rem;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    filter: drop-shadow(4px 4px 89px rgba(0, 0, 0, 0.25));
}

.card1{
    width: 509px;
    height: 329px;
    border-radius: 18px;
    background: url("../../asset/web.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card2{
    width: 509px;
    height: 329px;
    border-radius: 18px;
    background: url("../../asset/graphics.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card3{
    width: 509px;
    height: 329px;
    border-radius: 18px;
    background: url("../../asset/video.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card4{
    width: 509px;
    height: 329px;
    border-radius: 18px;
    background: url("../../asset/content.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card5{
    width: 509px;
    height: 329px;
    border-radius: 18px;
    background: url("../../asset/bgg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cardText{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.42) 123.73%, rgba(217, 217, 217, 0) 244.63%);
    border-radius: 18px;
    box-sizing: border-box;
    position: absolute;
    width: 509px;
    /* height: 128px; */
    /* margin-top: 11rem; */
    display: flex;
    flex-direction: column;
}
.cardText p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 10px;
}
.cardTextb{
    display: flex;
    padding-left: 2rem;
}
.cardTextb p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 1.5rem;
    width: 438px;
    /* height: 66px; */
    padding-left: 2rem;
}
.bullet{
    border: 0px solid #92E3A9;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    background: #92E3A9;
    margin: 3rem -2rem -4rem 0;
}

@media screen and (max-width: 1024px) {
    .innerServ{
        width: 95%;
        margin: auto;
    }
    
    .headServ h1{
        width: 299px;
    }
    .headServ p{
        font-size: 40px;
    }
    .parag p{
        width: 825px;
        font-size: 16px;
    }

    .card1{
        width: 430px;
        height: 319px;
    }
    .card2{
        width: 430px;
        height: 319px;
    }
    .card3{
        width: 430px;
        height: 319px;
    }
    .card4{
        width: 430px;
        height: 319px;
    }
    .card5{
        width: 430px;
        height: 319px;
    }
    .cardText{
        width: 430px;
        height: 120px;
        margin-top: 13rem;
    }
    .cardText p{
        font-size: 20px;
    }
    .cardTextb{
        display: flex;
        padding-left: 2rem;
    }
    .cardTextb p{
        font-size: 15px;
        padding-top: 1.5rem;
        width: 450px;
        height: 66px;
        padding-left: 1.5rem;
    }
}
@media screen and (max-width: 768px) {
    .headServ h1{
        width: 299px;
        font-size: 25px;
    }
    .headServ p{
        font-size: 30px;
    }
    .parag p{
        width: 675px;
        font-size: 13px;
    }
    .card1{
        width: 340px;
        height: 319px;
    }
    .card2{
        width: 340px;
        height: 319px;
    }
    .card3{
        width: 340px;
        height: 319px;
    }
    .card4{
        width: 340px;
        height: 319px;
    }
    .card5{
        width: 340px;
        height: 319px;
    }
    .cardText{
        width: 340px;
        height: 128px;
        margin-top: 12rem;
    }
    .cardText-a{
        font-size: 18px;
        padding-left: 1rem;
    }
    .cardTextb{
        display: flex;
        padding-left: 1rem;
    }
    .cardText-bb{
        font-size: 12px;
        padding-top: 1.5rem;
        width: 450px;
        height: 66px;
        padding-left: 1.5rem;
    }
}
@media screen and (max-width: 425px) {
    .innerServ{
        padding-top: 3rem;
        margin-left: 0;
    }
    
    .headServ h1{
        width: 299px;
        font-size: 20px;
        margin: 0;
    }
    .headServ p{
        font-size: 20px;
        width: 325px;
        word-spacing: -0.5px;
        margin-bottom: -1rem;
    }
    .parag p{
        width: 325px;
        height: 0px;
        font-size: 12px;
        padding-bottom: 3rem;
    }

    .card1{
        width: 300px;
        height: 300px;
    }
    .card2{
        width: 300px;
        height: 300px;
    }
    .card3{
        width: 300px;
        height: 300px;
    }
    .card4{
        width: 300px;
        height: 300px;
    }

    .card4{
        width: 300px;
        height: 300px;
    }
    .cardText{
        width: 300px;
        height: 140px;
        margin-top: 12rem;
    }
    .cardText-a{
        font-size: 18px;
        padding-left: 1rem;
    }
    .cardTextb{
        display: flex;
        padding-left: 1rem;
    }
    .cardText-bb{
        font-size: 10px;
        padding-top: 1rem;
        width: 450px;
        height: 66px;
        padding-left: 1.5rem;
    }

    .cardServ{
        width: 90%;
        margin: auto;
        padding-top: 2rem;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        filter: drop-shadow(4px 4px 89px rgba(0, 0, 0, 0.25));
    }
}

@media screen and (max-width: 375px) {
 
}