.services {
    width: 100%;
    background:white;
    padding: 2rem 3rem 1rem 3rem;
}

.servicesContainer{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1rem;
}

.services h2{
    margin: 0 auto 1rem;
    justify-content: center;
    text-align: center;
    color: var(--primary);
}

.services p{
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-bottom: 6rem;
    color: black;
    width: 60%;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px){
    .servicesContainer{
        
        grid-template-columns: 1fr;
        
        
    }
    
}

@media screen and (max-width: 425px){
    .services p{
        width: 100%;
    }
}
