.Container{
    width: 100%;
    /* padding-top: 6rem; */
    overflow: hidden;
    margin: auto;
}

.innerContainer{
    width: 90%;
    margin: auto;
}

.innerContainer h2{
    color: var(--primary);
    padding: 1rem 0 0 0;
    margin: auto;
    text-align: center;
}

.innerContainer h3{
    color: var(--primary);
    padding: 3rem 0 1rem 0;
}

.innerContainer>p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #1E1E1E;
    margin-bottom: 1rem;
}

.Container>p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #1E1E1E;
    margin-bottom: 1rem;
    width: 90%;
    margin: auto;
}

.contentBigimg{
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 3rem 0;
}
.contentBigimg>img{
    width: 100%;
}

.content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.contentText{
    padding-bottom: 2rem;
    width: 50%;
}

.contentText>li{
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #1E1E1E;
    margin-left: -1rem;
    margin-bottom: 1rem;
}

.contentText>p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #1E1E1E;
    margin-bottom: 1rem;
}


.contentVideo{
    width: 50%;
}

.contentVideo>p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #1E1E1E;
    margin-bottom: 1rem;
}

.contentVideo>li{
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #1E1E1E;
    margin-left: -1rem;
}


.contentImg>img{
    width: 100%;
}

.contentBtn button{
    color: white;
    background: var(--primary);
    width: 10rem;
    margin-top: 2rem;
    border: none;
}

.contentBtn button:hover{
    background: var(--secondary);
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 42px 27px rgba(34, 116, 57, 0.1);
    border: none;
}
.contentBtn1{
    width: 90%;
    margin: auto;
    margin-bottom: 4rem;
}

.contentBtn1 button{
    color: white;
    background: var(--primary);
    width: 9rem;
    margin-top: 2rem;
    border: none;
    margin: auto;
}

.contentBtn1 button:hover{
    background: var(--secondary);
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 42px 27px rgba(34, 116, 57, 0.1);
    border: none;
}

.vidImage{
    margin: 2rem 0;
}
.vidImage Video{
    width: 100%;
}

@media screen and (max-width: 768px){
    .contentImg>img{
        width: 100%;
    }


}

@media screen and (max-width: 425px){
    .content{
        display: block;
        gap: 2rem;
    }

    .contentText{
        padding-bottom: 2rem;
        width: 100%;
        margin: auto;
    }

    .contentVideo{
        width: 100%;
        margin: auto;
    }

}